<!DOCTYPE html>
<html>
<head>
    {% include 'common.html' %}
    {% load static %}
</head>

<link rel="stylesheet" type="text/css" href="{% static "css/doctor.css" %}"/>
<body>
{% include 'AdminNav.html' %}
<div id="wrapper">
<div class="row">
    <div class="col-sm">
    <div class="card" style="margin-left: 200px">
        <h3 align="center" class="titel">View Appointments</h3>
        <img src="https://www.shutterstock.com/image-vector/man-makes-appointment-online-doctor-600nw-1284005350.jpg" alt="Avatar" style="width:100%">
        <div class="container" align="center" >
            <a href="{% url 'ViewAppointmentAdmin' %}">
                <button class="btn-appt"> View Appointments
                </button>
            </a>
        </div>
    </div>
    </div>
    <div class="col-sm">
    <div class="card" style="margin-left: 100px">
        <h3 align="center" class="titel">Doctors</h3>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/001/822/322/small_2x/cartoon-couple-doctors-waving-free-vector.jpg" alt="Avatar" style="width:100%; height: 374px">
        <div class="container" align="center" >
            <a href="{% url 'AddDoctorAdmin' %}">
                <button class="btn-appt"> Add Doctor
                </button>
            </a>
            <a href="{% url 'ViewDoctorsAdmin' %}">
                <button class="btn-appt"> View Doctors
                </button>
            </a>
        </div>
    </div>
    </div>
</div>
</div>

</body>
</html>