<!DOCTYPE html>
<html>
<head>
    {% include 'common.html' %}
    {% load static %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <title></title>
</head>
<body>
{% include 'AdminNav.html' %}
<div id="wrapper">
    <h2 class="text-center">ALL DOCTORS</h2>
    <section id="team" class="pb-5">
        <div class="container">
            <table class="table" id="example"><!--table-hover-->
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone Number</th>
                    <th>Date of Birth</th>
                    <th>Blood Group</th>
                    <th>Specialization</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in doc %}
                <tr style="color: black;">
                    <td>{{ i.username }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.gender }}</td>
                    <td>{{ i.contact_number }}</td>
                    <td>{{ i.dob }}</td>
                    <td>{{ i.blood_group }}</td>
                    <td>{{ i.expertise }}</td>
                    <td>{{ i.address }}</td>
                    <td><a href="{% url 'admin_delete_doctor' i.id i.email %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </section>
</div>

<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>