.admin-login {
  height: 1000px;
  background-size: cover;
  position: relative;
}

.admin-login h2{
  max-width: 320px;
  width: 90%;
  background-color: #ff6962;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  right: 40%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  margin-top: 40px;
}

.admin-login .form-control h2{
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  color: #fff;
}

.admin-login .btn .btn-primary {
  background: #fff;
  border-radius: 4px;
  padding: 11px;
  margin-top: 26px;
  color: #2980ed;
  font-weight: bold;
  font-size: 15px;
}