.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 500px;
    height: 550px;
    margin-top: 80px;
    margin-left: 470px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px;
}

.titel{
    margin-top: 50px;
    font: bold;
    color: cornflowerblue;
}

.titel2{
    font: bold;
    color: rebeccapurple;
}

.btn-appt{
    background: #fff;
    border-radius: 4px;
    padding: 11px;
    margin-top: 26px;
    color: #2980ed;
    font-weight: bold;
    font-size: 15px;
}

.btn-appt:hover, .btn-appt:active {
    background: #214a81;
    color: #fff;
}

